header{
    font-weight: 300;
}

.options{
    font-weight: 600;
}

.timer{
    font-size: large;
}

.subject{
    font-size: 20px;
}

.questionIndex{
    font-weight: 600;
}

.questionStatement{
    font-size: 1.2em;
}

.questionOptions{
    font-size: 1.275em;
}